/* PC */
@media (min-width: 992px) {
    .header {
        display: block;
    }

    .mobile-header,
    .menu-overlay,
    .menu-drawer,
    .menu-checkbox {
        display: none;
    }
}

/* Tablet & Mobile */
@media (max-width: 991.98px) {
    .header {
        display: none;
    }

    .mobile-header {
        position: sticky;
        top: 0;
        background: #fbfaff;
        backdrop-filter: blur(15px);
        z-index: 10;
    }

    .header__container {
        width: min(
            100%,
            calc(100% - 20px)
        ); /* Ensure the container doesn't exceed the viewport width */
    }

    .mobile-header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d6d3e2;
    }

    .mobile-header__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .mobile-header__emoji {
        display: block;
        height: auto;
        pointer-events: none;
    }

    .header__email-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(93, 59, 238, 0.2);
        border-radius: 50%;
    }

    .header__icon-email {
        width: 16.696px;
        height: 11.13px;
        object-fit: contain;
    }

    .toggle-menu {
        display: inline-flex; /* Use inline-flex to prevent it from taking full width */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border: 1px solid rgba(93, 59, 238, 0.2);
        border-radius: 50%;
        background: transparent;
        cursor: pointer;
    }

    .menu-overlay {
        position: fixed; /* Use fixed to cover the entire viewport */
        inset: 0; /* Shorthand for top: 0; right: 0; bottom: 0; left: 0; */
        background: rgba(0, 0, 0, 0.3);
        opacity: 0; /* Start hidden */
        visibility: hidden; /* Hide from screen readers and prevent interaction */
        transition:
            opacity 0.5s ease,
            visibility 0.5s ease;
        z-index: 999; /* Ensure it is below the menu drawer but above other content */
    }

    .menu-drawer {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000; /* Ensure it is above the menu overlay */
        height: 100vh; /* Full viewport height */
        background: #fff;
        transform: translateX(100%); /* Start off-screen to the right */
        transition: transform 0.5s ease;
    }

    .mobile-nav__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mobile-nav__list .header__nav-item a {
        display: block;
        color: var(--color-text);
        font-size: 1.8rem;
        padding: 8px 0;
    }

    .menu-checkbox {
        position: fixed;
        opacity: 0;
        pointer-events: none;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        /* Show the overlay when the menu is open */
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        /* Slide the menu drawer in when the menu is open */
        transform: translateX(0);
    }

    .hero__media-col {
        order: 2; /* Move the media column below the content column on smaller screens */
    }

    .hero__content-col {
        order: 1; /* Move the content column above the media column on smaller screens */
    }

    .hero {
        padding-top: 20px;
        overflow: hidden;
    }

    .hero__inner {
        row-gap: 20px;
    }

    .hero__content {
        margin-left: 0;
    }

    .clie
}

/* Mobile */
@media (max-width: 767.98px) {
    .mobile-header__inner {
        min-height: 60px;
    }

    .mobile-header__emoji {
        width: 37px;
    }

    .header__email-btn,
    .toggle-menu {
        width: 32px;
        height: 32px;
    }

    .menu-drawer {
        width: min(320px, 80%); /* Set a max width for the menu drawer */
        padding: 60px 24px 24px;
    }

    .hero__decor-small {
        display: none;
    }

    .hero__content {
        margin-left: 20px;
    }

    .hero__title {
        width: 260px;
        max-width: 100%;
        font-size: 4.2rem;
        line-height: 1.19; /* 119.048% */
        letter-spacing: -1.68px;
    }

    .hero__desc {
        width: 318px;
        max-width: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625; /* 162.5% */
    }

    .hero__actions {
        margin-top: 30px;
    }

    .btn__primary {
        padding: 12px 31px;
        font-size: 1.6rem;
    }

    .hero__more-info {
        font-size: 1.6rem;
    }

    .hero__social-media {
        margin-top: 25px;
    }

    .hero__media {
        max-width: 259px;
        margin: 0 auto;
    }

    .hero__decor-big {
        max-width: 543.709px;
        bottom: -21%;
        left: -55%;
    }
}
