*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
}

/* ==================== Common ==================== */

/* ==================== Header ==================== */
.header {
    margin-top: 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.header__email-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.header__letter-icon {
    width: 24px;
    height: 16px;
    object-fit: contain;
}

.header__email {
    text-decoration: none;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
}

.header__email:hover {
    text-decoration: underline;
}

.header__face-emoji {
    display: block;
    width: 100px;
    height: 100px;
}

.navbar__list {
    display: flex;
    gap: 43px;
}

.navbar__link-item a {
    text-decoration: none;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
}

.navbar__link-item a:hover {
    text-decoration: underline;
}
